<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/cierreVenta.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>    
    <title></title>
</head>
<body class="generic-body">
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h1>Factura</h1>
            </div>
            <div class="card-body" id="getProducts">
            </div>
            <div class="card-footer" id="datosPago">
                
            </div>
        </div>
        <div class="d-flex">
            <button class="btn btn-success" id="btnVolver">Finalizar</button>
        </div>
    </div>
    <script type="module">
        const {readData} = require('../helpers/storage.js');
        let templateTotal = "Monto Total ";
        let templateVuelto = "Vuelto ";
        let metodoPago = readData('metodoPago').pago;
        let products = readData('productos');
        let templateFactura = "";
        let totalPago = 0;
        for (const item of products) {
            let cantChar = item.cant_deseada.toString().trim().length + item.nombre_prod.trim().length + item.cod_barra.toString().trim().length + item.cant_deseada.toString().trim().length + item.pco_uni.toString().trim().length;
            console.log(cantChar);
            let addDot = "";
            while((addDot.length + cantChar) != 90){
                addDot += "."
            }
            console.log(addDot.length);
            templateFactura+= `<h5>${item.cant_deseada} * ${item.nombre_prod} ${item.cod_barra}${addDot}$${item.cant_deseada+item.pco_uni}</h5><hr>`;
            totalPago+=item.cant_deseada*item.pco_uni;
        }
        while((templateTotal.length + totalPago.toString().length) < 110){
            templateTotal+="."
        }
        templateTotal += ` $${totalPago}`;
        let vuelto = parseInt(metodoPago) - totalPago;
        while((templateVuelto.length + vuelto.toString.length) < 110){
            templateVuelto += "."
        }
        templateVuelto += ` $${vuelto}`;
        datosPago.innerHTML = `<h5>${templateTotal}</h5><h5>${templateVuelto}</h5>`;
        getProducts.innerHTML = templateFactura;
    </script>
</body>
</html>