.container {
    margin-top: 2%;
    align-content: center;
    padding: 0;
    margin-bottom: 3%;
    padding-top: 10%;
}
.card{
    background-color: rgba(0,0,0,0.5) !important;
    color: #fff;
}
.btn{
    width: 100%;
}
